
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #298839;
    color: white;
    font-size: 0.7em;
    text-align: center;
}

header {
    height: 35vh;
    padding: 8px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header h1, header h2 {
    font-family: 'Figtree';
}

#box {
    width: calc(85px + 5vw);
    height: calc(85px + 5vw);
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin-top: 13px;
}

#logo-curso {
    width: calc(85px + 3vw);
    height: calc(85px + 3vw);
    background: white url('imagens/logo-tro.jpg') center no-repeat;
    background-size: contain;
    border-radius: 20px;
    margin: auto;
}

#form {
    font-family: 'Figtree';
    background-color: white;
    color: #787a7a;
    height: 65vh;
    width: 100vw;
    border-radius: 0 80px 0 0;
}

#form h1 {
    font-family: 'Figtree';
    color: #298839;
    font-size: 3.5em;
    font-weight: 800;
    padding-top: 40px;
    padding-bottom: 20px;
}

#form p {
    font-size: 13px;
}

form {
    width: 100vw;
    position: relative;
}

.input {
    margin: 10px;
}

.input label {
    font-family: 'IBM Plex Sans';
    position: absolute;
    text-align: left;
    width: 70%;
    left: 18%;
    display: block;
    font-size: 13px;
}

#label_Usuario {
    top: -5px;
}

#label_Senha {
    top: 60px;
}

.input input {
    background-color: #2988397b;
    width: 70vw;
    padding: 13px 20px;
    border-radius: 15px;
    border: none;
}

#submit {
    width: 70vw;
    padding: 10px;
    background-color: #298839;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: .5s;
}

#submit:hover {
    transform: translateY(3px);
    background-color: #32a745;
}

.help {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.help * {
    color: #787a7a;
    text-decoration: none;
    margin-top: 15px;
    font-size: 13px;
}